@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'varlyregular';
    src: url('../../fonts/Varly-webfont.eot');
    src:
        url('../../fonts/Varly-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Varly-webfont.woff') format('woff'),
        url('../../fonts/Varly-webfont.ttf') format('truetype'),
        url('../../fonts/Varly-webfont.svg#varlyregular') format('svg');
}
html {
    background-color: rgb(76, 70, 64);
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body > .container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ui-autocomplete-searching {
    background-image: url('../../img/spinner.gif');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

@media screen and (max-width: 992px) {
    .visible-md-inline{
        display: inline-block !important;
    }
}

@media screen and (min-width: 992px) {
    .visible-md-inline{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
    #caldiv {
        margin: 0 -15px;
    }
    .panel {
        margin-left: -15px;
        margin-right: -15px;
    }
    .panel-group {
        margin: 0 -15px;
    }
}
.bigmenu .glyphicon {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.bigmenu .glyphicon-ok {
    color: green;
}
.bigmenu .glyphicon-arrow-right {
    color: navy;
}
#appnav {
    border-radius: 0;
}
